@font-face {
    font-family: 'TT Commons Pro Normal';
    src: url('fonts/TT Commons Pro/TT Commons Pro Normal.otf') format('opentype');
}

@font-face {
    font-family: 'TT Commons Pro DemiBold';
    src: url('fonts/TT Commons Pro/TT Commons Pro DemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'GT Alpina';
    src: url('fonts/GT Alpina/GTAlpina-Light.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 252, 250, 1);
    overflow-x: hidden;
}